<div class="container">
  <div class="row title-row">
    <div class="col-xs-12 text-center">
    <img src="/assets/images/goodburger.png" alt="burger" class="img-responsive">
    <h1>Good Burger</h1>
    </div>
  </div>
  {{> burger-row}}
  <div class="row burger-form-row">
    <div class="col-xs-12 text-center">
      <form action="/burgers/new" method="POST" class="create-form">
        <input type="text" class="form-control" name="burger_name" id="new-burger-input">
        <button type="submit" class="btn btn-default" id="new-burger-button">Add That Good Burger!</button>
      </form>
    <p id="add-burger-text">Add in your own custom good burger that you'd like to eat!</p>
    </div>
  </div>
</div>